* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-image: url(../img/Layer 74.png);
    background-size: cover;
    Background-attachment: fixed;
}