@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    cursor: url(../img/cursor.cur), default;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "content content sidebar"
        "footer footer footer";
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;

}
a {
    cursor: url(../img/cursor1.cur), default;
}
header {
    background-color: #1f1f56;
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    background-color: #ededf5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.menu {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    font-family: "Arial";
    list-style: none;
    padding: 23px 0 19px;
    gap: 26px;
}

.menu li>a {
    text-decoration: none;
}

.menu>li>a:hover {
    transition: all .9s ease;
    color: #fd8300;
}

.number {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.skype {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}

.mail {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}

.button {
    display: block;
    border-radius: 25px;
    border-width: 2px;
    background-color: #fff;
    border: 2px solid #fd8300;
    padding: 19px 27px;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.main_image {
    max-width: 100%;
    min-height: 200px;
    margin-bottom: 10px;
    display: block;
    background-image: url(../img/Rectangle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main_text h2 {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.main_text {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-family: "Arial";
    text-align: center;
}

.special {
    display: flex;
    justify-content: center;
}

.price {
    font-size: 40px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.metter {
    font-size: 24px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

h3 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 24px;
}

.detail {
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.detail a {
    margin-bottom: 35px;

}

.line {
    width: 713px;
    height: 1px;
    background-color: #e4e4ec;
}

.build {
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    text-decoration: none;
    font-family: "Arial";
}

.text {
    width: 220px;
    height: 53px;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
}

.description {
    width: 677px;
    height: 193px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    font-family: "Arial";
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    max-width: 219px;
    font-size: 14px;
    line-height: 24px;
    font-family: "Arial";
    list-style: none;
    text-decoration: none;
}

.sidebar li>a:hover {
    color: #fd8300;
    transition: all .5s ease;
    list-style: none;
    text-decoration: none;
}


.contacts {
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    font-family: "Arial";
    list-style: none;
    padding: 14px 119px;
}

.contacts li>a:hover {
    color: #fd8300;
    transition: all .5s ease;
    list-style: none;
    text-decoration: none;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-direction {
    display: flex;
    flex-direction: row;
}

.align-items {
    display: flex;
    align-items: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-just {
    display: flex;
    justify-content: space-around;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    gap: 26px;
    padding: 17px 23px;
}

.icons img:hover {
    background-color: #fd8300;
    transition: all .5s ease;
    transform: scale(1.5);

}

.second>h2 {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    width: 219px;
    height: 45px;
    border-radius: 3px;
    background-color: #1f1f56;
    padding: 13px 15px;
}

.asside>a {
    margin: 0;
    padding: 0;
    width: 219px;
    height: 44px;
    background-color: #e4e4ec;
    text-decoration: none;
}

.sidemenu {
    display: none;
    background-color: #e4e4ec;
    list-style: none;
}

.asside {
    background-color: #e4e4ec;
}

li {
    padding: 16px 14px;
}

.asside li {
    position: relative;
}

.asside>li>a:hover {
    display: block;
    padding: 10px 10px;
    background-color: #fd8300;
    transition: all .5s ease;
    color: #fff;
}

.asside li:hover>.sidemenu {
    display: block;
}

.sidemenu>li>a:hover {
    display: block;
    background-color: #cecedd;

}


.build a {
    position: relative;
    text-decoration: none;
}

.build a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #1f1f56;
    transition: all .5s ease;
}

.build a:hover {
    color: #1f1f56;
}

.build a:hover::before {
    width: 100%;
}

.build p {
    color: #9999a6;
}

.privacy {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
}

.privacy1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: #dcdce6;
    align-items: center;
}
.tel {
    padding: 38px 11px;
}
.skype_mail {
    padding: 36px 51px;
}
.mail_skype {
    padding: 41px 12px;
}
.text_mail {
    padding: 41px 12px;
}

.icon_phone {
    padding: 33px 11px;
}
.phone_number {
    padding: 36px 11px;
}
